WEBPASSWORD=ca7511fee0a07a730e91e6df351c87470d20fe53a235ee411e45f52ec47b9442
BLOCKING_ENABLED=true
DNSMASQ_LISTENING={{ pihole_listening }}
PIHOLE_INTERFACE={{ pihole.network.interface }}
IPV4_ADDRESS={{ pihole.network.ipv4 }}
IPV6_ADDRESS={{ pihole.network.ipv6 | default('') }}
PIHOLE_DNS_1={{ pihole.dns[0] }}
PIHOLE_DNS_2={{ pihole.dns[1] | default('') }}

ADMIN_EMAIL=
WEBUIBOXEDLAYOUT=boxed
WEBTHEME=default-dark
DNSSEC=false
REV_SERVER=false
DHCP_ACTIVE=true
DHCP_START=192.168.1.101
DHCP_END=192.168.1.251
DHCP_ROUTER=192.168.1.1
DHCP_LEASETIME=3
PIHOLE_DOMAIN=Home
DHCP_IPv6=false
DHCP_rapid_commit=false
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=false
